# SPDX-License-Identifier: GPL-3.0
#
# mk-linux419
# Twitter: @fascoder_4
# Email  : m.k419sabuaka@gmail.com
#
# (c) 2019-2020 Fascode Network.
#
# isolinux.cfg
#

UI vesamenu.c32

MENU TITLE %OS_NAME% Live Disc BIOS Mode Boot Options
MENU BACKGROUND splash.png
MENU COLOR title  1;37;44 #c0ffffff #00000000 std
MENU COLOR sel    1;32;40 #ff4da435 #ff000000 none
MENU COLOR hotsel 1;32;40 #ff4da435 #ff000000 none

DEFAULT live
TIMEOUT 30

LABEL live
  MENU LABEL BIOS Boot the %OS_NAME% Desktop
  LINUX /casper/vmlinuz
  APPEND  noprompt  boot=casper initrd=/casper/initrd quiet splash --

LABEL xforcevesa
  MENU LABEL BIOS Boot %OS_NAME% In Safe Graphics Mode
  LINUX /casper/vmlinuz
  APPEND  noprompt  boot=casper nomodeset xforcevesa initrd=/casper/initrd quiet splash --

LABEL live-install
  MENU LABEL BIOS Direct Install %OS_NAME%
  LINUX /casper/vmlinuz
  APPEND  noprompt  boot=casper only-ubiquity initrd=/casper/initrd quiet splash ---

LABEL check
  MENU LABEL Check %OS_NAME% Distro Integrity
  LINUX /casper/vmlinuz
  APPEND  boot=casper integrity-check initrd=/casper/initrd quiet splash --

LABEL memtest
  MENU LABEL Run memtest (RAM test)
  LINUX /install/memtest86+

LABEL existing
  MENU LABEL Boot existing OS
  COM32 chain.c32
  APPEND hd0 0

LABEL reboot
  MENU LABEL Power Off
  COM32 poweroff.c32
